* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.name {
    text-align: center;
    color: white;
    font-size: 40px;
    font-weight: bolder;
}
.quiz {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 600px;
    border: 2px solid whitesmoke;
    background: black;
    color: white;
    opacity: 0.9;
    border-radius: 25px;
    
}

.quiz p {
    padding: 20px;
    color: white;
}

input {
    margin: 10px 20px;
}
.btn {
    margin-left:120px;
    background: transparent;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    width: 150px;
    font-size: 20px;
    text-transform: uppercase;
}

.btn:hover {
    background: white;
    color: black;
    border: 1px solid transparent;

}



